{% extends "auth/template.j2" %}
{% block auth %}
	<h1>Password changed</h1>
    <p>
        You're good to go.
    </p>
	<p>
		<a href="/dashboard" class="btn-primary btn--block" title="">Continue</a>
	</p>
{% endblock %}
{% block after %}
    <p class="text--center">
        <a href="/dashboard" class="color-link--rev">Back</a>
    </p>
{% endblock %}