{% extends "auth/template.j2" %}
{% block auth %}
	<h1>Account deleted</h1>
	<p>
		Thanks for trying us.
	</p>
    <p>
        <a href="/" class="btn-primary btn--block">Home</a>
    </p>
{% endblock %}
