{% extends "auth/template.j2" %}
{% import "forms.j2" as form %}

{% block auth %}
	<h1>Forgot password</h1>

    <p>
        Happens to the best of us. Enter your email address and we'll help you reset it.
    </p>
    
    {% if validationErrors %}
        <div class="">
            {{ form.errors(validationErrors) }}
        </div>
    {% endif %}

	<form action="{{forgotPassword.route}}" method="POST" accept-charset="utf-8" autocomplete="off">
        {{ form.errors(messages) }}
        {{ form.protect(_csrf)  }}
        {{ form.as_p('email', '', { block: true, placeholder: 'Your email address ', type: 'email' }) }}
        {{ form.no_autocomplete() }}
        {{ form.submit('Reset my password', { block: true }) }}
	</form>
{% endblock %}
