{% extends "auth/template.j2" %}
{% import "forms.j2" as form %}

{% block auth %}
	<h1>Change your password</h1>

	{{ form.errors(validationErrors) }}

	<form action="" method="POST" accept-charset="utf-8" autocomplete="off">
        {{ form.protect(_csrf)  }}
        {% if user.allow_access_key == 0 %}
        {{ form.as_p('oldPassword', '', { block: true, placeholder: 'Old password', type: 'password' }) }}
        {% endif %}
        {{ form.no_autocomplete() }}
        {{ form.as_p('password', '', { block: true, placeholder: 'New password', type: 'password' }) }}
        {{ form.as_p('confirmPassword', '', { block: true, placeholder: 'Confirm password', type: 'password' }) }}
        {{ form.submit('Change it', {block: true}) }}
	</form>

{% endblock %}

{% block after %}
    <p class="text--center">
        <a href="/dashboard" title="" class="color-link--rev">Back</a>
    </p>
{% endblock %}