<div class="modal__content anim-entrance modal__content--small">
	<h3>
		<span class="message">Are you sure?</span>
	</h3>
	<span class="btn btn-primary" data-yes>Yes</span>
	<span class="btn btn-secondary" data-no>No</span>
</div>