<span class="deleted"></span>
<div class='crud__item'>
	<p>
		<span class='crud__link' data-edit> <span class="name">{{ name }}</span> </span>
		<span class='crud__delete'>&times;</span>
	</p>
</div>

